---
import { changeLanguage, t } from "i18next";
interface Post {
    url: string;
    frontmatter: {
        title: string;
        chapter: number;
    };
}
const data: Post[] = await Astro.glob("./*.mdx");
const posts = data.sort((a, b) => {
    return a.frontmatter.chapter - b.frontmatter.chapter;
});
import Layout from "@/layouts/Layout.astro";

changeLanguage("it");
---

<Layout title={t('utility.toc')}>
  <main
    class='min-h-[90vh] min-w-full flex flex-col place-content-center place-items-center prose'
  >
    <nav class='bg-base-200 p-8 flex flex-col place-content-center rounded-lg'>
      <h1 class='pt-2'>{t('utility.toc')}</h1>
      <ol>
        {
          posts.map((post) => (
            <li>
              <a href={post.url} class='link-hover'>
                {post.frontmatter.title}
              </a>
            </li>
          ))
        }
      </ol>
    </nav>
  </main>
</Layout>
