---
import Layout from '../layouts/Layout.astro';
import { Image } from '@astrojs/image/components';
---

<Layout title='Alice Abridged'>
  <header class='hero min-h-[90vh]'>
    <section class='hero-content flex-col lg:flex-row-reverse'>
      <article>
        <hgroup>
          <h1 class='text-5xl mb-4'>Alice in Wonderland</h1>
          <h2 class='text-3xl mb-4'>Lewis Carroll</h2>
        </hgroup>
        <p>
          This is an online, abridged version of Alice in Wonderland{' '}
          <em>(Alice's Adventures in Wonderland)</em> under the{' '}
          <a href='/gutenberg' class='link'>Gutenberg licence</a>.
        </p>
        <p class='my-6'>
          The images and text were taken from{' '}
          <a href='https://www.gutenberg.org/' class='link'>Project Gutenberg</a
          >{' '}
          itself.
        </p>
        <a href='/chapter/1' class='btn btn-primary mr-2'>
          Start from the beginning
        </a>
        <a href='/chapter' class='btn btn-ghost'> Table of Contents</a>
      </article>
      <Image
        src='/image/hero.jpg'
        alt='Alice in the Room of the Duchess.'
        class='max-w-sm rounded-lg shadow-2xl'
        height={1094}
        aspectRatio={800 / 1094}
      />
    </section>
  </header>
</Layout>
