---
import { changeLanguage, t } from "i18next";
import { localizePath } from "astro-i18next";
import Layout from "@/layouts/Layout.astro";

changeLanguage("it");

const chapters = await Astro.glob("./chapter/*.mdx");
chapters.sort((a, b) => {
    return a.frontmatter.chapter - b.frontmatter.chapter;
});
---

<Layout title={t('utility.toc')}>
  <main
    class='min-h-[90vh] min-w-full flex flex-col place-content-center place-items-center prose'
  >
    <nav class='bg-base-200 p-8 flex flex-col place-content-center rounded-lg'>
      <h1 class='pt-2'>{t('utility.toc')}</h1>
      <ol>
        {
          chapters.map((chapter) => (
            <li>
              <a href={chapter.url} class='link-hover'>
                {chapter.frontmatter.title}
              </a>
            </li>
          ))
        }
      </ol>
    </nav>
  </main>
</Layout>
