---
interface Post {
  url: string;
  frontmatter: {
    title: string;
    chapter: number;
  };
}

const posts: Post[] = await Astro.glob('../pages/chapter/*.mdx');
---

<ol>
  {
    posts.map((post) => (
      <li>
        <a href={post.url}>{post.frontmatter.title}</a>
      </li>
    ))
  }
</ol>
