---
export interface Props {
  chapter: number;
}

const { chapter } = Astro.props;
---

<footer
  class='flex flex-row place-content-center my-4 p-2 min-w-full btn-group font-sans'
>
  {
    chapter > 1 ? (
      <a href={`/chapter/${chapter - 1}`} class='btn btn-outline'>
        <svg
          aria-hidden='true'
          class='w-5 h-5'
          fill='currentColor'
          viewBox='0 0 20 20'
          xmlns='http://www.w3.org/2000/svg'
        >
          <path
            fill-rule='evenodd'
            d='M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z'
            clip-rule='evenodd'
          />
        </svg>
      </a>
    ) : null
  }
  <a href='/chapter' class='btn btn-outline'>Chapter {chapter}</a>
  {
    chapter < 10 ? (
      <a href={`/chapter/${chapter + 1}`} class='btn btn-outline'>
        <svg
          aria-hidden='true'
          class='w-5 h-5'
          fill='currentColor'
          viewBox='0 0 20 20'
          xmlns='http://www.w3.org/2000/svg'
        >
          <path
            fill-rule='evenodd'
            d='M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z'
            clip-rule='evenodd'
          />
        </svg>
      </a>
    ) : null
  }
</footer>
