<>
  <label for='theme-modal' class='btn btn-ghost'>
    <svg
      width='20'
      height='20'
      xmlns='http://www.w3.org/2000/svg'
      fill='none'
      viewBox='0 0 24 24'
      class='inline-block h-5 w-5 stroke-current md:h-6 md:w-6'
      ><path
        stroke-linecap='round'
        stroke-linejoin='round'
        stroke-width='2'
        d='M7 21a4 4 0 01-4-4V5a2 2 0 012-2h4a2 2 0 012 2v12a4 4 0 01-4 4zm0 0h12a2 2 0 002-2v-4a2 2 0 00-2-2h-2.343M11 7.343l1.657-1.657a2 2 0 012.828 0l2.829 2.829a2 2 0 010 2.828l-8.486 8.485M7 17h.01'
      ></path></svg
    >
  </label>

  {/* Hidden by default */}
  <input type='checkbox' id='theme-modal' class='modal-toggle' />
  <div class='modal'>
    <div class='modal-box'>
      <h3 class='font-bold text-xl text-center mb-8'>Theme Options</h3>
      <section class='grid grid-cols-3 auto-rows-auto gap-4'>
        <button data-set-theme='light'>Light</button>
        <button data-set-theme='cupcake'>cupcake</button>
        <button data-set-theme='rosepine-dawn'>Rosé Pine Dawn</button>
        <button data-set-theme='night'>Dark</button>
        <button data-set-theme='black'>Black</button>
        <button data-set-theme='rosepine-moon'>Rosé Pine Moon</button>
      </section>
      <div class='modal-action'>
        <label for='theme-modal' class='btn'>Done</label>
      </div>
    </div>
  </div>
</>

<style>
  button {
    @apply btn btn-xs sm:btn-sm md:btn-md lg:btn-lg btn-outline;
  }
</style>
