---
import Modal from './Modal.astro';
import LanguageSelector from './LanguageSelector.astro';

---

<nav
  class='navbar bg-base-100/90 border-b-[1px] border-b-base-content/25 hover:border-b-base-content sticky top-0 z-10 font-sans'
>
  <div class='flex-1'>
    <a href='/' class='btn btn-ghost normal-case text-xl'>Alice</a>
  </div>
  <div class='flex-none'>
    <Modal />
    <LanguageSelector showFlag={true} />
  </div>
</nav>

<style>
  #navbar {
    transition: top 0.3s;
  }
</style>