---
export interface Props {
  title?: string;
  frontmatter?: {
    title: string;
  }
}

const { title, frontmatter } = Astro.props;
import Navbar from '@/components/Navbar.astro';
import '@fontsource/inter';
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/ico' href='/favicon.ico' />
    <meta name='generator' content={Astro.generator} />
    <title>{frontmatter ? frontmatter.title : title}</title>
    <!-- Open Graph Metadata https://ogp.me/ -->
    <meta property="og:title" content={frontmatter ? frontmatter.title : title} />
    <meta property="og:description" content="An online, abridged version of Alice in Wonderland" />
    <meta property="og:image" content="https://alice-abridged.vercel.app/_image?w=800&h=1094&ar=0.7312614259597806&href=%2Fimage%2Fhero.jpg" />
    <meta property="og:image:alt" content="Alice in the Room of the Duchess" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="576" />
    <meta property="og:image:height" content="796" />
    <!-- Theme Scripts -->
    <script is:inline>
      // ☝️ This script prevent the FART effect.
      if (localStorage.getItem('theme') === null) {
        let preference = window.matchMedia('(prefers-color-scheme: dark)');
        document.documentElement.setAttribute(
          'data-theme',
          preference ? 'dark' : 'light'
        );
      } else
        document.documentElement.setAttribute(
          'data-theme',
          localStorage.getItem('theme')
        );
      // "theme" LocalStorage value is set by the package to remember user preference.
      // The value is checked and applyed before rendering anything.
    </script>
    <script>
      import { themeChange } from 'theme-change';
      themeChange();
      // 👆 you could import the CDN directly instead of these two lines
    </script>
  </head>
  <body class='flex flex-col place-content-center place-items-center'>
    <Navbar />
    <slot />
  </body>
</html>
