---
interface Post {
  url: string;
  frontmatter: {
    title: string;
    chapter: number;
  };
}

const posts: Post[] = await Astro.glob('./*.mdx');

import Layout from '@/layouts/Layout.astro';
---

<Layout title='Table of Contents'>
  <main
    class='min-h-[90vh] min-w-full flex flex-col place-content-center place-items-center prose'
  >
    <nav class='bg-base-200 p-8 flex flex-col place-content-center rounded-lg'>
      <h1 class='pt-2'>Table of Contents</h1>
      <ol>
        {
          posts.map((post) => (
            <li>
              <a href={post.url} class='link-hover'>
                {post.frontmatter.title}
              </a>
            </li>
          ))
        }
      </ol>
    </nav>
  </main>
</Layout>
