---
import Layout from "@/layouts/Layout.astro";
import ChapterList from "@/components/ChapterList.astro";
---
<Layout title='Table of Contents'>
  <main class="min-h-screen min-w-[100vw] flex flex-col place-content-center place-items-center prose">
    <h1>Table of Contents</h1>
    <ChapterList />
  </main>
</Layout>